html
    head
        title Group 27
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    

    body.container
        h2 Login
        p Please login to proceed
        form(name="loginForm",method="POST").form-group
            label(for="username") Username
            input(type="text", name="username", placeholder="Username", id="username").form-control
            label(for="password")
            input(type="password",name="password",placeholder="Password" id="password").form-control
            br
            button(type="submit").btn.btn-primary Login
        
        p Don't have an account?
            a(href="/register") register here